/backend/web/bundles/
/backend/web/uploads/
/backend/app/bootstrap.php.cache
/backend/app/cache/*
/backend/app/config/parameters.yml
/backend/app/logs/*
!/backend/app/cache/.gitkeep
!/backend/app/logs/.gitkeep
/backend/build/
/backend/vendor
/backend/bin/
/backend/composer.phar

/frontend/node_modules
/frontend/dist
/frontend/.tmp
/frontend/.sass-cache
/frontend/bower_components
